body{
    background-color: #000000;
    padding-top: 50px;
    margin: 0px;
}

#page{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    background: no-repeat center fixed;
    background-image: linear-gradient(to right bottom, #dadeff, #919ac5, #cac9f7);
}

#detail_sheet_page{
    display: none;

    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: no-repeat center fixed;
    background-image: linear-gradient(to right bottom, #dadeffab, #919ac4ab, #cac9f7ab);

}

.game_pic{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid;
}

#me_pic{
    width: 100%;
    max-width: 1000px;
    border-radius: 45%;
}

#intro_box{
    /* background-color: rgb(229, 180, 124); */
    border-radius: 5px;
    padding: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    max-width: 2000px;
    justify-self: center;
    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "txt img";

}

#intro_box h1{
    font-size: 80px;
}

#intro_box i{
    color: #1d256e;
    font-style: normal;
}

#intro_box h4{
    font-size: 30px;
}

#describtor{
    width: 80%;
}

#portfolio{
    /* background-image: linear-gradient(to right bottom, #c0c0c01a, #33333379, #afafaf23); */
    background-color: #00000033;
    border-radius: 20px;
    /* row-gap: 2%; */
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    /* padding-left: 50px; */
    /* padding-right: 50px; */

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "one two thr"
        "fou fiv six"
        "sev eig nin";



    justify-items: center;
    justify-self: center;
    /* width: 950px; */
}

#portfolio .game_header{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e7e7e7;
}

#portfolio p{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e7e7e7;
}

.pf_game_spacer{
    /* padding: 30px; */
    justify-items: center;
}

.pf_game_spacer:hover{
    /* padding: 25px; */
    justify-items: center;
}


.pf_game{
    background-color: #1d1d1d;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #000000;

    margin: 30px;
    
    padding: 0px;
    
    break-inside: avoid-column;
    width: 400px;
    /* width: 100%; */
}

.pf_game:hover{
    background-color: #3b3b3b;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #000000;
    width: 410px;
    margin: 25px;
    
    break-inside: avoid-column;

    cursor: pointer;


}

#pf_title{
    text-align: center;
}

.game_text_area{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.game_skills{
    justify-items: center;
    /* column-count: 5; */
    color: #e7e7e7;
}

.skill_box{
    background-color: #333333;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    text-wrap-mode: nowrap;
}

#contacts{
    /* background-color: #545eaa; */
    /* background-image: linear-gradient(to bottom right, #545eaa, #545eaa, #545eaa, #545eaa, #7680ce, #545eaa); */
    background-image: linear-gradient(to left , #dfdfdf00, #3333331e, #afafaf00);
    border-radius: 20px;
    padding-top: 1px;
    justify-self: center;
}

.links{
    column-count: 2;
    padding-left: 25%;
    padding-right: 25%;

    padding-bottom: 20px;
}

.links a{
    color: #000000;
}

#contacts div,h2{
    text-align: center;
}

.spacer{
    height: 50px;
    /* background-color: #3f1010; */
}

.seperator{
    /* width: 90%; */
    width: 1250px;
    height: 10px;
    border-bottom: 2px solid;
    border-color: #000000;
    justify-self: center;
}


#detail_sheet{
    background-color: #1d1d1d;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: #000000;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);   
    
    /* padding: 10px; */

    justify-self: center;
    break-inside: avoid-column;
    height: 100%;
    width: fit-content;
    color: white;

}

#ds_image_area{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "lft img rgt";

}

#ds_image{
    justify-self: center;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 500px;
}

#ds_nxt_img_btn{
    background-image: none;
    background-color: #00000062;
    height: 100%;
    width: 20px;
    border-radius: 0px;
}

#ds_text_area{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "des lst";
}

#ds_text_area p{
    font-size: larger;
}
